# Description: Example of .env.local file
# Usage: Copy this file to .env.local and set your own values

# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# Supabase credentials
  NEXT_PUBLIC_SUPABASE_URL={YOUR_PROJECT_URL}
  NEXT_PUBLIC_SUPABASE_ANON_KEY={YOUR_ANON_KEY}

# PostgreSQL connection string used for migrations
DIRECT_URL={YOUR_DIRECT_URL}

# PostgreSQL connection string with Supavisor config — used by Prisma Client
DATABASE_URL={YOUR_DATABASE_URL}

# NextAuth.js credentials
NEXTAUTH_SECRET={YOUR_SECRET}
NEXTAUTH_URL="http://localhost:3000" # Vercel will set this automatically

# Base URL (Vercel will automatically set this)
NEXT_PRIVATE_URL=http://localhost:3000
NEXT_PUBLIC_VERCEL_ENV=development

# Google API Key
GOOGLE_API_KEY={YOUR_API_KEY}