@import 'base/variables.scss';

#form {
  width: 500px;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input {
  width: 300px;
  height: 50px;
  border: 2px solid $color-green;
  border-radius: 5px;
  margin-bottom: 10px;
  padding-left: 10px;
}

.input:focus {
  outline: none !important;
  border: 2px solid $color-green;
  box-shadow: 0 0 4px $color-green;
}

#submit {
  width: 300px;
  height: 50px;
  background-color: $color-green;
  border: none;
  border-radius: 5px;
  margin-bottom: 10px;
  color: white;
  cursor: pointer;
}

#submit:hover {
  box-shadow: 0 0 4px $color-green;
}

.switch {
  color: $color-green;
  cursor: pointer;
}
