@import 'base/variables.scss';

#auth {
  background-color: white;
  height: 100%;
}

#container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#messageCont,
#authCont {
  width: 50%;
  height: 100%;
}

#messageCont {
  background-color: $color-blue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#image {
  width: 70%;
  object-fit: 'cover';
}

#message {
  width: 70%;
  color: white;
  font-size: 25px;
  text-align: center;
  margin-bottom: 50px;
}

#authCont {
  display: flex;
  justify-content: center;
  align-items: center;
}
