@import 'base/variables.scss';

#banner {
  height: 500px;
  background-color: $color-blue;
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#msgCont,
#imgCont {
  width: 50%;
}

#imgCont {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

#image {
  width: 90%;
  object-fit: "cover";
}

#msgCont {
  padding: 50px;
  color: $color-white;
}

#title {
  margin-bottom: 20px;
  font-weight: bold;
}

#message{
    font-weight: bold;
}
