// Reset default browser styles
@import 'reset.scss';

//* Global styles *//
html,
body {
  font-size: 100%;
  color: white;
  background-color: black;

  // User Select
  cursor: default;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  cursor: pointer;
  text-decoration: none;
}
