// Reset default browser styles
@import 'reset.scss';

//* Global styles *//
html,
body {
  font-size: 100%;
  color: rgb(0, 0, 0);
  background-color: rgb(0, 0, 0);

  // User Select
  cursor: default;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: white;
  cursor: pointer;
  text-decoration: none;
}

nav,
section,
footer {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

.container {
  width: 1366px;
  min-height: 50px;
  overflow: hidden;
}

@media screen and (min-width: 841px) and (max-width: 1280px) and (orientation: landscape) {
  body,
  html {
    font-size: 0.85vw;
  }
}

@media screen and (min-width: 841px) and (max-width: 1280px) and (max-aspect-ratio: 4 / 3) {
  body,
  html {
    font-size: 0.75vw;
  }
}
