// Reset default browser styles
@import 'reset.scss';
@import 'base/variables.scss';

// Google font
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

//* Global styles *//
html,
body {
  height: 100%;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  font-family: 'Roboto', sans-serif;

  // User Select
  cursor: default;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: white;
  cursor: pointer;
  // text-decoration: none;
}

main {
  width: 100%;
  height: inherit;
}

nav,
section,
footer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.container {
  width: 1366px;
  min-height: 50px;
  overflow: hidden;
}

h1 {
  font-size: $h1-font-size-medium;
}

p {
  font-size: $p-font-size-medium;
}
