#nav {
  background-color: white;
  height: 70px;
}

#container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#logo{
    color: black;
}

#searchBar {
  padding: 10px 30px;
  border: 1px solid;
  border-color: aqua;
  border-radius: 5px;
}

#navItems {
  width: 200px;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navItem {
  color: aqua;
}

#authButton {
  padding: 10px 30px;
  color: white;
  background-color: aqua;
  border-radius: 20px;
  border: 1px solid aqua;
  outline: none;
  cursor: pointer;
}
