@import 'base/variables.scss';

#nav {
  background-color: white;
  height: 70px;
}

#container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#logo {
  color: black;
}

#searchBar {
  padding: 10px 30px;
  padding-right: 10px;
  border: 1px solid;
  border-color: $color-green;
  border-radius: 5px;
}

#searchBar:focus {
  outline: none !important;
  border: 2px solid $color-green;
  box-shadow: 0 0 4px $color-green;
}

#navItems {
  width: 200px;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navItem {
  color: $color-green;
  cursor: pointer;
}

#authButton {
  padding: 10px 30px;
  color: white;
  background-color: $color-green;
  border-radius: 20px;
  border: 1px solid $color-green;
  outline: none;
  cursor: pointer;
}

#profileIMg {
  filter: invert(55%) sepia(35%) saturate(2770%) hue-rotate(144deg)
    brightness(99%) contrast(101%);
}
