#videoView {
  width: 100%;
  height: 100%;
}

#container {
  display: flex;
}

#view {
  width: 70%;
  min-height: 20px;
  padding-top: 20px;
  padding-right: 20px;
}

#videosList {
  width: 30%;
  min-height: 100px;
  padding-top: 20px;
}

#player {
  width: 100%;
  height: fit-content;
}

#infoActions {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

#title{
  width: 100%;
  font-size: x-large;
}

#action{
  width: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 5px;
  overflow: hidden;
}

.actionsIcons{
  width: 30px;
  height: auto;
  cursor: pointer;
  filter: invert(55%) sepia(35%) saturate(2770%) hue-rotate(144deg)
    brightness(99%) contrast(101%);
}

.actionsIcons:hover{
  position: relative;
  top: -2px;
}
